
{% extends 'diagnostic/base.html' %}
{% block content %}
    {% include 'diagnostic/nav_white.html' %}
<header class="page-header   header-h1  header-parallax ltx-parallax  hasBreadcrumbs"
        style="background-position: 50% 54px;">
    <div class="container">
        <h1> Наши контакты</h1>
        <ul class="breadcrumbs" typeof="BreadcrumbList" vocab="https://schema.org/"><!-- Breadcrumb NavXT 7.1.0 -->
            <li class="home"><span property="itemListElement" typeof="ListItem"><a property="item" typeof="WebPage"
                                                                                   title="Go to Home."
                                                                                   href="{% url 'diagnostic:home' %}"
                                                                                   class="home"><span property="name">Главная</span></a><meta
                    property="position" content="1"></span></li>
            <li class="post post-page current-item"><span property="itemListElement" typeof="ListItem"><span
                    property="name">Контакты</span><meta property="position" content="2"></span></li>
        </ul>
    </div>
</header>
<div class="container main-wrapper">
    <!-- Content -->
    <div class="inner-page text-page margin-top">
        <div class="row">
            <div class=" col-md-12 text-page">
                <article id="post-25" class="post-25 page type-page status-publish hentry">
                    <div class="entry-content clearfix" id="entry-div">
                        <section class="wpb-content-wrapper">
                            <section data-vc-full-width="true" data-vc-full-width-init="true" class="vc_section"
                                     style="position: relative; left: 0px; box-sizing: border-box; width: 675px; max-width: 675px; padding-left: 0px; padding-right: 0px;">
                                <div class="vc_row wpb_row vc_row-fluid vc_row-o-content-top vc_row-flex">
                                    <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-4 vc_col-md-6">
                                        <div class="vc_column-inner">
                                            <div class="wpb_wrapper">
                                                <div class="heading  header-inline align-left color-black transform-default icon-type-hidden   vc_custom_1526907454352 heading-tag-h4"
                                                     id="like_sc_header_522444509"><h4
                                                        class="header ltx-sr-id-like_sc_header_5224445091211844365 ltx-sr ltx-sr-effect-fade_in ltx-sr-el-block ltx-sr-delay-0 ltx-sr-duration-1000 ltx-sr-sequences-0"
                                                        data-sr-id="1"
                                                        style="visibility: visible; transform: scale(1); opacity: 1; transition: all 0.3s;">
                                                    Центральный офис</h4></div>
                                                <div class="wpb_text_column wpb_content_element ">
                                                    <div class="wpb_wrapper">
                                                        <p>Мы решаем проблемы любой сложности: современное оборудование,
                                                            мультидисциплинарная команда, индивидуальный подход к
                                                            пациенту позволяют нам проводить качественную диагностику и
                                                            выбирать наиболее эффективные схемы лечения заболеваний
                                                            различных органов и систем.</p>

                                                    </div>
                                                </div>
                                                <div class="align-default ">
                                                    <ul class="social-icons-list   vc_custom_1526908541834 icon-weight-bold"
                                                        id="like_sc_header_788165436">
                                                        <li class=" "><span class="fa fa-phone"></span><span
                                                                class="head">+3(092) 890-90-609</span></li>
                                                        <li class=" "><span class="fa fa-institution"></span><span
                                                                class="head">SkypeName</span></li>
                                                        <li class=" "><span class="fa fa-map"></span><span
                                                                class="head">Москва, ул.Медицинская, 6</span>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-4 vc_col-md-6 vc_col-has-fill">
                                        <div class="vc_column-inner vc_custom_1518129269758">
                                            <div class="wpb_wrapper">
                                                <div class="es-resp">
                                                    <div class="visible-xl" style="height: 0px;"></div>
                                                    <div class="hidden-xl hidden-md hidden-sm hidden-ms hidden-xs"
                                                         style="height: 0px;"></div>
                                                    <div class="visible-md" style="height: 0px;"></div>
                                                    <div class="visible-sm " style="height: 48px;"></div>
                                                    <div class="visible-ms" style="height: 48px;"></div>
                                                    <div class="visible-xs" style="height: 48px;"></div>
                                                </div>
                                                <div class="heading  header-inline align-left color-black subcolor-main transform-default icon-type-hidden   vc_custom_1526908468521 heading-tag-h4"
                                                     id="like_sc_header_1037125585"><h4
                                                        class="header ltx-sr-id-like_sc_header_10371255851345480743 ltx-sr ltx-sr-effect-fade_in ltx-sr-el-block ltx-sr-delay-0 ltx-sr-duration-1000 ltx-sr-sequences-0"
                                                        data-sr-id="2"
                                                        style="visibility: visible; transform: scale(1); opacity: 1; transition: all 0.3s;">
                                                    Время работы</h4></div>
                                                <div class="wpb_text_column wpb_content_element ">
                                                    <div class="wpb_wrapper">
                                                        <p><span class="line-height-2"><strong>Понедельник:</strong> 8:00 – 17:00<br>
<strong>Вторник:</strong> 8:00 – 17:00<br>
<strong>Среда:</strong> 8:00 – 17:00<br>
<strong>Четверг:</strong> 8:00 – 17:00<br>
<strong>Пятница:</strong> 8:00 – 17:00<br>
<strong>Суббота:</strong> Закрыто<br>
<strong>Воскресенье:</strong> Закрыто<br>
</span></p>

                                                    </div>
                                                </div>
                                                <div class="es-resp">
                                                    <div class="visible-xl" style="height: 64px;"></div>
                                                    <div class="hidden-xl hidden-md hidden-sm hidden-ms hidden-xs"
                                                         style="height: 28px;"></div>
                                                    <div class="visible-md" style="height: 28px;"></div>
                                                    <div class="visible-sm " style="height: 28px;"></div>
                                                    <div class="visible-ms" style="height: 32px;"></div>
                                                    <div class="visible-xs" style="height: 32px;"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-4 vc_col-md-12">
                                        <div class="vc_column-inner">
                                            <div class="wpb_wrapper">
                                                <div class="es-resp">
                                                    <div class="visible-xl" style="height: 0px;"></div>
                                                    <div class="hidden-xl hidden-md hidden-sm hidden-ms hidden-xs"
                                                         style="height: 0px;"></div>
                                                    <div class="visible-md" style="height: 16px;"></div>
                                                    <div class="visible-sm " style="height: 16px;"></div>
                                                    <div class="visible-ms" style="height: 16px;"></div>
                                                    <div class="visible-xs" style="height: 32px;"></div>
                                                </div>
                                                <div class="ltx-contact-form-7 transform-default form-center form-gray form-bg-gray form-style-default form-btn-default form-btn-default form-padding-default    vc_custom_1526907539863"
                                                     id="like_sc_contact_form_7_1365440989">
                                                    <div class="wpcf7 js" id="wpcf7-f1555-p25-o1" lang="en-US"
                                                         dir="ltr">
                                                        <div class="screen-reader-response"><p role="status"
                                                                                               aria-live="polite"
                                                                                               aria-atomic="true"></p>
                                                            <ul></ul>
                                                        </div>
                                                        <form method="post"
                                                              class="wpcf7-form init" aria-label="Contact form"
                                                              novalidate="novalidate" data-status="init">
                                                            {% csrf_token %}
                                                            <div style="display: none;">
                                                                <input type="hidden" name="_wpcf7" value="1555">
                                                                <input type="hidden" name="_wpcf7_version"
                                                                       value="5.7.2">
                                                                <input type="hidden" name="_wpcf7_locale" value="en_US">
                                                                <input type="hidden" name="_wpcf7_unit_tag"
                                                                       value="wpcf7-f1555-p25-o1">
                                                                <input type="hidden" name="_wpcf7_container_post"
                                                                       value="25">
                                                                <input type="hidden" name="_wpcf7_posted_data_hash"
                                                                       value="">
                                                            </div>
                                                            <p><span class="wpcf7-form-control-wrap"
                                                                     data-name="field-header"><input size="40"
                                                                                                     class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required"
                                                                                                     aria-required="true"
                                                                                                     aria-invalid="false"
                                                                                                     placeholder="Ваше имя"
                                                                                                     value=""
                                                                                                     type="text"
                                                                                                     name="field-header"></span>
                                                            </p>
                                                            <p><span class="wpcf7-form-control-wrap"
                                                                     data-name="field-header2"><input size="40"
                                                                                                      class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required"
                                                                                                      aria-required="true"
                                                                                                      aria-invalid="false"
                                                                                                      placeholder=" Ваш email"
                                                                                                      value=""
                                                                                                      type="text"
                                                                                                      name="field-header2"></span>
                                                            </p>
                                                            <p><span class="wpcf7-form-control-wrap"
                                                                     data-name="field-header-3"><textarea cols="40"
                                                                                                          rows="10"
                                                                                                          class="wpcf7-form-control wpcf7-textarea"
                                                                                                          aria-invalid="false"
                                                                                                          placeholder="Сообщение"
                                                                                                          name="field-header-3"></textarea></span>
                                                            </p>
                                                            <p><span class="ltx-btn-wrap"><input
                                                                    class="wpcf7-form-control has-spinner wpcf7-submit btn btn-default btn-lg"
                                                                    type="submit" value="Отправить заявку"></span><span
                                                                    class="wpcf7-spinner"></span>
                                                            </p>
                                                            <div class="wpcf7-response-output" aria-hidden="true"></div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="vc_row wpb_row vc_row-fluid">
                                    <div class="wpb_column vc_column_container vc_col-sm-12">
                                        <div class="vc_column-inner">
                                            <div class="wpb_wrapper">
                                                <div class="vc_empty_space" style="height: 72px"><span
                                                        class="vc_empty_space_inner"></span></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <div class="vc_row-full-width vc_clearfix"></div>
                        </section>
                    </div>
                </article>
            </div>

        </div>
    </div>

</div>
{% endblock %}