<div class="ltx-topbar-block hidden-ms hidden-xs ltx-topbar-before-transparent">
    <div class="container">
        <section class="wpb-content-wrapper">
            <div class="vc_row wpb_row vc_row-fluid vc_row-o-content-middle vc_row-flex">
                <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-9 vc_col-md-12">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper">
                            <ul class="ltx-block-icon icons-count-3  ltx-icon-h-right align-left ltx-icon-type-circle layout-inline "
                                id="like_sc_block_icon_161459430">
                                <li>
                                    <div data-mh="ltx-block-icon-in-1503" class=""><span
                                            class="ltx-icon fa fa-phone  bg-bg-transparent"
                                            data-mh="ltx-icon-span-like_sc_block_icon_161459430"></span>
                                        <div class="block-right"><h6 class="header"><span> Горячая линия: </span> +3
                                            (092)
                                            508-38-01 </h6></div>
                                    </div>
                                </li>
                                <li>
                                    <div data-mh="ltx-block-icon-in-1503" class=""><span
                                            class="ltx-icon fa fa-map  bg-bg-transparent"
                                            data-mh="ltx-icon-span-like_sc_block_icon_161459430"></span>
                                        <div class="block-right"><h6 class="header"><span> Адрес: </span> Москва,
                                            ул.Медицинская, 6<br/>
                                        </h6></div>
                                    </div>
                                </li>
                                <li>
                                    <div data-mh="ltx-block-icon-in-1503" class=""><span
                                            class="ltx-icon fa fa-clock  bg-bg-transparent"
                                            data-mh="ltx-icon-span-like_sc_block_icon_161459430"></span>
                                        <div class="block-right"><h6 class="header"><span> Пон-Пят: </span> 8:00 -
                                            17:00<br/>
                                        </h6></div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="wpb_column vc_column_container vc_col-sm-3 vc_hidden-md vc_hidden-sm vc_hidden-xs text-align-right">
                    <div class="vc_column-inner vc_custom_1541683584708">
                        <div class="wpb_wrapper">
                            <div class="wpb_text_column wpb_content_element  vc_custom_1541269623923">
                                <div class="wpb_wrapper">
                                    <div class="ltx-navbar-icons">
                                        <ul>
                                            <li class="ltx-fa-icon ltx-nav-profile menu-item-has-children  hidden-md hidden-sm hidden-ms hidden-xs">
                                                <a href="{% url 'users:login' %}"><span
                                                        class="fa icon icon-user"></span>
                                                </a></li>
                                            <li class="ltx-fa-icon ltx-nav-search   hidden-md hidden-sm hidden-ms hidden-xs">
                                                <div class="top-search"
                                                     data-base-href="{% url 'diagnostic:search' %}">
                                                    <a href="#" id="top-search-ico"
                                                       class="top-search-ico entypo entypo-search"
                                                       aria-hidden="true"></a>
                                                    <a href="#" id="top-search-ico-close"
                                                       class="top-search-ico-close fa fa-close" aria-hidden="true"></a>
                                                    <input placeholder="Поиск" value="" type="text" name="s">
                                                </div>
                                            </li>
                                        </ul>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>